* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.dialog {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.info {
    width: max(250px, 350px);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 7px gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}

.info span {
    font-weight: 500;
}

.info .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
    text-align: left;
}

.container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: none;
    height: 500px;
}

.main-screen {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 100%;
    align-content: center;
    gap: 20px;
}



.hide {
    display: none;
}

.boards {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.sidebar {
    display: none;
    grid-template-rows: 1fr .5fr 1fr;    
}

.player {
    box-shadow: 0 0 3px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.player .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
    text-align: left;
}
.player.first {
    grid-row: 1;   
}
.player.second {
    grid-row: 3;
}
.control {
    display: flex;
    align-items: center;
    justify-content: center;
}
.show {
    display: grid;
}
button {
    padding: 7px 15px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 500;
}
